services:
  app:
    build:
      context: ./
      dockerfile: docker/Dockerfile
    container_name: matomo-laravel-app
    restart: unless-stopped
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
